nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3
    .container.px-5
        a.navbar-brand(href='inicio.html')
            span.fw-bolder.text-primary Julián Camilo Garay Pulido
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.small.fw-bolder
                li.nav-item
                    a.nav-link(href='inicio.html') Inicio
                li.nav-item
                    a.nav-link(href='resumen.html') Resumen
                li.nav-item
                    a.nav-link(href='proyectos.html') Proyectos
                li.nav-item
                    a.nav-link(href='contacto.html') Contacto
