doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title HVJCGP

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar2.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resumen
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Educación
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.btn-primary.px-4.py-3(href='assets/vh.pdf')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Descargar Resumen

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2024 - 2026
                                                .small.fw-bolder Uniminuto
                                                .small.text-muted Bogotá, Colombia
                                                .small.text-muted Ingenieria
                                                .small.text-muted Ingenieria de Sistemas
                                        .col-lg-8
                                            div Construir aplicaciones de software utilizando estándares y métricas de calidad nacionales e internacionales para generar soluciones a requerimientos y problemas específicos en diversos contextos. Desarrollar entornos analíticos utilizando herramientas de Ciencia de Datos.Desarrollar entornos analíticos utilizando herramientas de Ciencia de Datos para abordar necesidades de negocio en diversos campos. Evaluar soluciones de infraestructura de TI utilizando el modelo de ciberseguridad para identificar las necesidades tecnológicas de hardware y software que optimicen el acceso y protección de la información en las organizaciones.

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2023 - 2025
                                                .small.fw-bolder SENA
                                                .small.text-muted Bogotá, Colombia
                                                .small.text-muted Tecnólogo
                                                .small.text-muted Analisis y desarrollo de Software
                                        .col-lg-8
                                            div Desarrollo Full-stack, Metodología Scrum, Diseño de software,arquitectira MVC,arquitectura en capas y arquitectura hexagonal.

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Experiencia
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2024 - Presente
                                                .mb-2
                                                    .small.fw-bolder soporte en sitio
                                                    .small.text-muted Casa Editorial El Tiempo
                                                .fst-italic                                                    
                                                    .small.text-muted Bogotá,DC
                                        .col-lg-8
                                            div Soporte en sitio , instalación y mantenimeinto de softwre empresarial, revisión de redes,  MFA, soporte de OneDrive .

                            // Education Card 2
                            

                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Habilidades Profesionales
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Analista de Software
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Desarrollador web
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Programador
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Diseño Full-stack
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Adobe Software Suite
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Desarrollo de software full-satack
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Lenguajes
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 CSS
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JAVA
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Node.js

        // Footer
        include includes/footer.pug

        include includes/scripts.pug