doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title HVJCGP

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resume
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Education
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.btn-primary.px-4.py-3(href='assets/vh2.pdf', alt='...')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Download Resume

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2024 - 2026
                                                .small.fw-bolder Uniminuto
                                                .small.text-muted Bogotá, Colombia
                                                .small.text-muted Engineering
                                                .small.text-muted System Engineer
                                        .col-lg-8
                                            div Build software applications using national and international quality standards and metrics to generate solutions to specific requeriments  and problems in diverse contexts. Develop analytical environments use Data Science tools.Develop analytical environments using data science tools to address business needs in various fields. Evaluate IT infrastructure solutions using the cybersecurity model to identify technological hardware and software needs that optimize access to and protection of information in organizations.

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2023 - 2025
                                                .small.fw-bolder SENA
                                                .small.text-muted Bogotá, Colombia
                                                .small.text-muted Technologist
                                                .small.text-muted software analysis and development
                                        .col-lg-8
                                            div Full-stack development, Scrum methodology, software design, MVC architecture, layered architecture, and hexagonal architecture.

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Experience
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2024 - Present
                                                .mb-2
                                                    .small.fw-bolder One-site support
                                                    .small.text-muted Casa Editorial El Tiempo
                                                .fst-italic                                                    
                                                    .small.text-muted Bogotá,DC
                                        .col-lg-8
                                            div On-site support, installation and maintenance of enterprise software, network review, MFA, OneDrive support.

                            // Education Card 2
                            

                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Professional Skills
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Software analyst
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Web development
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Software Desing
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Full-stack Desing
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Adobe Software Suite
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Full-stack development
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Languages
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 CSS
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JAVA
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Node.js

        // Footer
        include includes/footer.pug

        include includes/scripts.pug